<!--
  @description       : 
  @author            : Thiago Barbosa  
  @group             : 
  @last modified on  : 07-26-2021
  @last modified by  : ChangeMeIn@UserSettingsUnder.SFDoc
-->
<template>
        <lightning-card> 
            <template if:true={tcaSpinner}>
                <lightning-spinner variant="brand" class="spins" alternative-text="Loading" size="medium">
                </lightning-spinner>   
            </template> 
            <template for:each={itemList} for:item="item" for:index="index">    
                <c-new_widget_lwc-child index={index} record-id={recordId} techconfid={recordId} itemlength={itemListLength}        
                    ondeletetca={deleteSession} key={item.Id} onenabledtca={enabledSession} childtype={type} ondisabledtca={disabledSession} item={item}>
                </c-new_widget_lwc-child>           
            </template>    
     
            <div class="slds-hide">{disabledTest}</div>
            <lightning-card>
                <button class="slds-button slds-button_neutral slds-m-left_x-small" title="Created New Widget" onclick={addRow}
                    data-id="sessiontest">
                    Created New Widget
                </button>
            </lightning-card>   
    
        </lightning-card>
 </template> 