<!--
  @description       : 
  @author            : ChangeMeIn@UserSettingsUnder.SFDoc
  @group             : 
  @last modified on  : 07-26-2021
  @last modified by  : ChangeMeIn@UserSettingsUnder.SFDoc
-->
<template> 
        <lightning-card title={title} key={item.Id}>       
            <div class="slds-box" key={item.Id}>   
                <template if:true={tcaSpinner}>
                    <lightning-spinner variant="brand" class="spins" alternative-text={label.tcaloading} size="medium">
                    </lightning-spinner>
                </template>
                <lightning-layout horizontal-align={horizontalAlign} vertical-align={verticalAlign}>
                    <lightning-button variant="brand" label="" title="Edit" icon-name="utility:edit" onclick={editTCA}
                        class="slds-float_right slds-m-left_x-small"></lightning-button>
                    <lightning-button variant="destructive" data-id="deleteidtca" label="" title="Delete"
                        icon-name="utility:delete" onclick={deleteTCA} class="slds-float_right slds-m-left_x-small">
                    </lightning-button>
                </lightning-layout> 
                <div class="slds-hide">{currentrecord}</div>
                <div class="slds-hide">{itemlength}</div>  
                <lightning-layout horizontal-align={horizontalleft}> 
                    <lightning-input type="text" onchange={containsValue} value={tcaWidget.Module_Tracke15__Value__c}
                        class="slds-size_1-of-2" disabled={disableButtonTotal} name="Value Widget"
                        label="Value Widget"> 
                    </lightning-input>    
                </lightning-layout>    
                <div class="slds-m-top_large"></div>
                <lightning-layout horizontal-align={horizontalleft}> 
                    <lightning-input type="checkbox" onchange={isProperlyNested} 
                        value={tcaWidget.Module_Tracke15__Is_Properly_Nested__c} class="slds-size_1-of-2"
                        disabled={disableButtonPositive} name="Is Properly Nested" label="Is Properly Nested">
                    </lightning-input>
                </lightning-layout> 

                <div class="slds-m-top_x-large"></div>
                <lightning-layout horizontal-align={centerAlign}>
                    <template if:true={isconferma}>   
                        <lightning-button variant="brand" label="Submit" onclick={handleSubmit_Widget}
                            data-id="confirmed" class="slds-align_absolute-center"></lightning-button>
                    </template>
                </lightning-layout>
            </div>
        </lightning-card>   
    </template>
</template>